---
layout: default
---
-for post in page.posts
  #content
    .post
      %h6= post.date.strftime("%A, %B #{post.date.day}, %Y")
      %h2
        %a{:href=>post.url}= post.title
      = post.content
      - if post.tags
        .tags
          %span.title
            tags: 
          -for tag in post.tags
            %a{:href => "/posts/tags/#{tag}"}
              -if (tag != post.tags.last)
                = "#{tag}, "
              -else
                = "#{tag} "
      %hr

= page.posts.links