---
layout: base
---
.span9
  ~ content
.span3
  #sidebar
    .about
      .title about me
      %a{:href => "https://plus.google.com/115653929218528533131?rel=author"}
        %img{:src => "/images/bleathem.jpg"}
      .name Brian Leathem
      .details
        %ul
          %li Senior Software Engineer at JBoss, by Red hat
          %li RichFaces Project Lead
    %hr
    .title twitter updates
    .twitter
      :plain
        <a class="twitter-timeline" href="https://twitter.com/brianleathem" data-widget-id="563478361763098625">Tweets by @brianleathem</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    %hr
    .title Tags
    .tags
      = site.posts_tag_cloud
    %hr
    .title Stack Overflow
    %a{:href => "http://stackoverflow.com/users/264797/brian-leathem"}
      %img{:src => "http://stackoverflow.com/users/flair/264797.png",
           :width => "208", :height => "58",
           :alt => "profile for Brian Leathem at Stack Overflow, Q&amp;A for professional and enthusiast programmers",
           :title => "profile for Brian Leathem at Stack Overflow, Q&amp;A for professional and enthusiast programmers"}
    %hr
    .title Blog Archive
    .archive
      %ul#years
        -site.post_map.each do |year, months|
          %li.year{:id=>"year_#{year}"}
            %a{:data => {:toggle => "collapse", :target => "#year_#{year} > ul.year", :parent=>"#years"}, :href => "##{year}"}
              = year
            %ul.year.collapse
              -months.each do |month, posts|
                %li.month{:id=>"month_#{month}_#{year}"}
                  %span.month= Date::MONTHNAMES[month]
                  %span.count= "(#{posts.size})"
                  %ul.month
                    -posts.each do |post|
                      %li
                        %a{:href => post.url}= post.title
