---
layout: base
---
.span3
  #sidebar
    .about
      .title About Me
      %img{:src => "/images/bleathem.jpg"}
      .details
        %span.name Brian Leathem
        %ul
          %li Senior Software Engineer at JBoss, by Red hat
          %li RichFaces Project Lead
          %li Seam Faces Module Lead
          %li JSR-344 (JSF 2.2) EG member
    %hr
    .title twitter updates
    .tweet
      :javascript
        $(function() {
          $(".tweet").tweet({
            username: "brianleathem",
            avatar_size: 24,
            count: 4,
            template: "{text} {time}",
            loading_text: "Loading tweets...",
            outro_text: '<a class="btn"  href="https://twitter.com/#!/brianleathem">Follow me on twitter</a>'
          });
        });    
    %hr
      .title Tags
      .row-fluid
        .span1 &nbsp;
        .span10.tags
          = site.posts_tag_cloud
    %hr
    .title Stack Overflow   
    %a{:href => "http://stackoverflow.com/users/264797/brian-leathem"}
      %img{:src => "http://stackoverflow.com/users/flair/264797.png", 
           :width => "208", :height => "58",
           :alt => "profile for Brian Leathem at Stack Overflow, Q&amp;A for professional and enthusiast programmers",
           :title => "profile for Brian Leathem at Stack Overflow, Q&amp;A for professional and enthusiast programmers"}
    %hr
    .title Blog Archive
    .archive
      %ul#years
        -site.post_map.each do |year, months|
          %li.year{:id=>"year_#{year}"}
            %a{:data => {:toggle => "collapse", :target => "#year_#{year} > ul.year", :parent=>"#years"}}
              = year
            %ul.year.collapse
              -months.each do |month, posts|
                %li.month{:id=>"month_#{month}"}
                  %a
                    %span.month= Date::MONTHNAMES[month]
                    %span.count= "(#{posts.size})"
                  %ul.month
                    -posts.each do |post|
                      %li
                        %a{:href => post.url}= post.title

.span9
  ~ content

%script{ :type=>'text/javascript', :src=>'/javascripts/jquery-tweet.js' }

