---
layout: default
---
#content
  - identifier= page.date.strftime("%Y-%m-%d") + "-" + page.slug
  %h6.date= page.date.strftime("%A, %B #{page.date.day}, %Y")
  %h1.title= page.title
  ~ content
  %hr
  .row
    %ul.pager  
      %li.previous.span1
        - if page.previous_post
          %a{:href => "#{page.previous_post.url}"} Previous
      %li.next.span1.offset7
        - if page.next_post
          %a{:href => "#{page.next_post.url}"} Next
  #disqus_thread
    :javascript
      /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
      var disqus_shortname = 'bleathem-java'; // required: replace example with your forum shortname
      var disqus_developer = 1; // developer mode is on
      var disqus_url = "http://blog.bleathem.ca#{page.url.sub(%r{^/blog}, '')}";
      var disqus_identifier = "#{identifier}";
      var disqus_title = "#{page.slug}";

      /* * * DON'T EDIT BELOW THIS LINE * * */
      (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
      })();
    %noscript
      Please enable JavaScript to view the
      %a{:href => "http://disqus.com/?ref_noscript"}
        comments powered by Disqus.
    %a{:href => "http://disqus.com", :class => "dsq-brlink"}
      blog comments powered by 
      %span.logo-disqus Disqus